<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

   <servlet>
       <servlet-producerName>genres</servlet-producerName>
       <servlet-class>servlet.GenreServlet</servlet-class>
   </servlet>

    <servlet>
        <servlet-producerName>producers</servlet-producerName>
        <servlet-class>servlet.ProducerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-producerName>franchises</servlet-producerName>
        <servlet-class>servlet.FranchiseServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-producerName>films</servlet-producerName>
        <servlet-class>servlet.FilmServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-producerName>producers</servlet-producerName>
        <url-pattern>/producers</url-pattern>
    </servlet-mapping>

   <servlet-mapping>
       <servlet-producerName>genres</servlet-producerName>
       <url-pattern>/genres</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
    <servlet-producerName>franchises</servlet-producerName>
    <url-pattern>/franchises</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-producerName>films</servlet-producerName>
        <url-pattern>/films</url-pattern>
    </servlet-mapping>
   
   
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>